*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    color: #131313;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.primary-navigation {
    border: 1px solid rgb(207, 206, 204);
    display: flex;
    align-items: center;
}

.nav-list {
    width: 1152px;
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    padding-left: 24px;
    padding-right: 24px;
    margin: auto;
    height: 70px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    line-height: 65px;
}

.nav-list a:hover {
    box-shadow: 0px -5px 0px #E21216 inset;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


.nav-list #sign-in
{
    box-shadow: 0px 0 6px 0 rgba(0, 0, 0, 0.3);
}

.nav-list #deals a, .nav-list #menu a {
    font-size: 18px;
    padding-bottom: 10px;
}

.nav-list .logo {
    flex-basis: 8%;
    padding-top: 0.5rem;
}

.nav-list .logo a {
    box-shadow: none;
    transition: none;
}

.nav-list #deals {
    flex-basis: 8%;
}

.nav-list #menu {
    flex-basis: 8%;
}

.nav-list .spacer {
    flex-basis: 29%;
}

.nav-list #location-pin {
    flex-basis: 22%;
}

#location-pin a, #sign-in a, #cart a{
    display: flex;
    flex-direction: row;
    line-height: 0;
    margin-top: 15px;
    justify-content: center;
    margin-right: 15px;
    margin-left: 15px;
    padding-bottom: 10px;
}

#location-pin a {
    gap: 0.1em;
}

.location-wrapper, .sign-in-wrapper, .cart-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    line-height: 1em;
}

#location-pin img{
    width: 21px;
    height: 28px;
}

#sign-in a {
    gap: 0.5em;
}

#sign-in img {
    width: 30px;
    height: 30px;
}

#carryout-p, #rewards-p {
    font-size: 10px;
    color: #E21216;
    letter-spacing: 1px;
}

#address-p, #sign-in-p {
    font-size: 14px;
    color: black;
}


.nav-list #sign-in {
    flex-basis: 20%;
}

.nav-list #cart {
    flex-basis: 15%;
}

#cart a {
    gap: 0.7em;
}

#cart img{
    width: 33px;
    height: 28px;
}

#item-count-p {
    position: absolute;
    transform: translate(45px, 10px);
    font-size: 13px;
    font-weight: 700;
}

#price-p {
    padding-top: 5px;
    font-weight: 700;
    font-size: 18px;
}

.cart-wrapper {
    width: 3rem;
    text-align: center;
}

/* MENU DROPDOWN */

/*initial state*/
.options {
    background-color: white;
    list-style: none;
    width: 230px;
    margin-top: 5px;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    position: absolute;
    box-shadow: 0px 0 6px 0 rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

@keyframes fadeInDropdown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.dropdown.active .options {
    display: flex;
    animation: fadeInDropdown 0.2s forwards;
} 


.options a {
    display: flex;
    border-bottom: 1px solid rgb(207, 206, 204);
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.options li{
    font-size: 14px;
    line-height: normal;
}

.options a:hover {
    box-shadow: 2px 0px 0px #E21216 inset;
    transition: background-color 0.3s ease;
    background-color: #e7e7e7;
}


#menu-icon {
    transform: translate(-2px, 5px);
    font-size: 1.5rem;
}

/* Main Content Stuff */
.main {
    padding-left: 9rem;
    padding-right: 9rem;padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
}

.pizza-image-container {
    flex-basis: 40%;
}

.main img {
    max-width: 100%;
    border-radius: 1rem;
    margin-top: 5rem;
}

#pizza-heading {
    margin-bottom: 2rem;
}

#pizza-heading h1 {
    font-family: 'Lora', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

#pizza-heading p {
    font-size: 0.9rem;
    font-weight: 600;
}

.left-side {
    width: 90%;
}

.left-side .dropdown {
    padding: 1.5rem;
    margin-left: 1rem;
    display: none;
    flex-direction: column;
    /* border: 1px solid black; */
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.left-side .dropdown.active {
    display: flex;
    animation: fadeInDropdown 0.2s forwards;
}

.dropdown .subheading {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.select-btn .subheading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#crust-section, #topping-section {
    margin-bottom: 1rem;
}

.left-side .select-btn {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    /* margin-bottom: 1rem; */
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.left-side .select-btn #menu-icon {
    margin-left: auto;
    padding-right: 0.5rem;
    font-size: 2rem;
}

.crust-wrapper span {
    color: #E21216;
}


.size-buttons {
    display: flex;
    gap: 0.5rem;
}

.size-button {
    width: 100%;
    padding: 0.5rem;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
    border-radius: 0.5rem;
    background-color: white;
    border: none;
}

.size-button p {
    line-height: 1.5rem;
    font-size: 14px;
}

.size-button.active {
    border: 2px solid #e71316;
}

.meat-buttons img, .veg-buttons img {
    width: 3.5rem;
}

#onions-top img {
    width: 3rem;
    padding-left: 1rem;
}

.meat-button, .veg-button {
    width: 100%;
    padding: 0.3rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    border: 0;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
}

.meat-button p, .veg-button p {
    margin-left: 2rem;
    font-size: 1rem;
}
.meat-button .checkbox, .veg-button, .checkbox {
    margin-left: auto;
    transform: translateX(-10px);
    width: 1.3rem;
    height: 1.3rem;
}

.sauce-selection {
    display: flex;
    width: 80%;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 1rem;
}

.sauce-selection img {
    padding-right: 1rem;
}

.selector-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid gray;
    border-radius: 0.5rem;
}

#sauce-selector {
    padding-left: 0.5rem;
    width: 100%;
    border: none;
    background-color: white;
    font-size: 1rem;
}


/* footer stuff with price container */
footer {
    margin-top: auto;
}

.price-container {
    bottom: 0;
    flex-direction: row;
    padding: 1.3rem;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: none;
}

.price-container.active {
    display: flex;
}

.price-container #price {
    font-size: 1.7rem;
    font-weight: 900;
    margin-right: 1rem;
    margin-left: 8rem;
}

.price-wrapper {
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 0.5px solid gray;
}

.price-wrapper:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
}

#quantity-selector {
    flex-basis: 20%;
    padding: 0.8rem;
    border: none;
    background-color: white;
}

#add-cart-button {
    flex-basis: 80%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
    border: none;
    background-color: #e21216;
    color: white;
    box-shadow:none;
}

/* .information-card {
    border: 5px solid black;
} */

#reset-btn {
    padding: 0.8rem;
    margin-left: 2rem;
    border-radius: 1rem;
    border: 1px solid gray;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: white;
}

#reset-btn:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
}

.order-container {
    display: none;
    width: 100%;
    padding-left: 9rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.order-container p {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.order-container.active {
    display: flex;
    flex-direction: column;
}

.order-container button {
    width: 20%;
    font-size: 1.4rem;
    background-color: #e21216;
    padding: 0.5rem;
    border-radius: 1rem;
}

.order-container a {
    font-weight: 900;
    color: white;
    text-decoration: none;
}
